AppArch/frontend/BMFT/src/components/styles/Footer.module.css
AppArch/backend/server/Model/.env
AppArch/frontend/BMFT/src/components/assets/WWDHeader1.JPG
AppArch/frontend/BMFT/src/components/assets/WWDHeader2.jpg
AppArch/frontend/BMFT/src/components/assets/WWDHeader3.JPG
AppArch/frontend/BMFT/src/components/assets/WWDRand.jpg
AppArch/backend/server/.env
AppArch/backend/.env
AppArch/frontend/BMFT/node_modules
AppArch/frontend/BMFT/package.json
AppArch/frontend/BMFT/package-lock.json
*.jpg


