.footercontainer {
    background-color: #00bef0;
    padding: 2rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    
 
}
.FinalBMFT{
    
    height: 120px;
    position: relative;
    left: -700px;
    border-radius: 15px;
    top: 120px;
   
  

}
.footersubscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    height: 0px;
}



  
  
  .footersubscription > p {
    font-family: 'Display Fonts', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footersubscriptionheading {
    position: relative;
    margin-bottom: 24px;
    font-size: 24px;
    top: 200px;
    right: -630px;
    text-decoration: underline;
  }
  
  .footersubscriptiontext {
    margin-bottom: 24px;
    font-size: 20px;
   
  }
  .subbutton{
    position: relative;
    margin-right: -1900px;
    top: 0px;
    left: -220px;
    font-family: "Verdana", Times, sans-serif;
    color: #f5f5f5;
    background-color: #52c742;
    padding: 10px 9px;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease background-color 250ms;
    &:hover {
        background-color: #41a534;
            }


  }
  
  .footerinput {
    position: relative;
    padding: 8px 20px;
    border-radius: 10px;
    margin-right: -1200px;
    top: 60px;
    outline: none;
    border: none;
    font-size: 18px;
    color:#000000;
    margin-bottom: 16px;
    
    
    
  }
  
  .footerlinks {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  
  }
  
  .footerlinkwrapper {
    display: flex;
    
  }
  
  .footerlinkitems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    text-align: left;
    width: 300px;
    box-sizing: border-box;

   
  }
  
  .footerlinkitems h2 {
    margin-bottom: 20px;
  }
  
  .footerlinkitems > h2 {
    color: #fff;
  }
  
  .footerlinkitems a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
    
  .websiterights {
    color: #000000;
    margin-bottom: 16px;
  }

  

