.footercontainer {
    background-color: #00bef0;
    padding: 2rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    
 
}
.FinalBMFT{
    
    height: 120px;
    position: relative;
    left: -700px;
    border-radius: 15px;
    top: 120px;
   
  

}
.footersubscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    height: 0px;
}



  
  
  .footersubscription > p {
    font-family: 'Display Fonts', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footersubscriptionheading {
    position: relative;
    margin-bottom: 24px;
    font-size: 24px;
    top: 200px;
    right: -630px;
    text-decoration: underline;
  }
  
  .footersubscriptiontext {
    margin-bottom: 24px;
    font-size: 20px;
   
  }
  .subbutton{
    position: relative;
    margin-right: -1900px;
    top: 0px;
    left: -220px;
    font-family: "Verdana", Times, sans-serif;
    color: #f5f5f5;
    background-color: #52c742;
    padding: 10px 9px;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease background-color 250ms;
    &:hover {
        background-color: #41a534;
            }


  }
  
  .footerinput {
    position: relative;
    padding: 8px 20px;
    border-radius: 10px;
    margin-right: -1200px;
    top: 60px;
    outline: none;
    border: none;
    font-size: 18px;
    color:#000000;
    margin-bottom: 16px;
    
    
    
  }
  
  .footerlinks {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  
  }
  
  .footerlinkwrapper {
    display: flex;
    
  }
  
  .footerlinkitems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    text-align: left;
    width: 300px;
    box-sizing: border-box;

   
  }
  
  .footerlinkitems h2 {
    margin-bottom: 20px;
  }
  
  .footerlinkitems > h2 {
    color: #fff;
  }
  
  .footerlinkitems a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footerlinkitems a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  .footeremailform h2 {
    margin-bottom: 2rem;
  }
  
  .footerinput::placeholder {
    color: #b1b1b1;
   
  }
  
  
  .socialiconlink {
    color: #fff;
    font-size: 24px;
  }
  
  .socialmedia {
    max-width: 1000px;
    width: 100%;
  }
  
  .socialmediawrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .socialicons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .sociallogo {
    color: #fff;
    justify-self: start;
    margin-left: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .websiterights {
    color: #000000;
    margin-bottom: 16px;
  }
  
  @media (max-width: 1634px) {
    
    .footerlinkitems {
    width: 200px;
    }
  
    .FinalBMFT {
        left: -550px;
    }
  
    .footersubscriptionheading {
        margin-left: -300px;
    }
  
    .subbutton {
    margin-left: -300px;
    
    }
  
    .footerinput {
     margin-left:-300px;
    }
}
    @media (max-width: 1339px) {
        .subbutton {
            margin-left: -300px;
            
            }
          
            .footerinput {
             margin-left:-300px;
            }
            .FinalBMFT {
                left: -500px;
            }
           

  }
  @media (max-width: 1325px) {
    .footercontainer{
        padding: 70px;
    }


}
@media (max-width: 1291px) {
    .subbutton {
        margin-left: -400px;
        
        }
      
        .footerinput {
         margin-left:-400px;
        }
        .footersubscriptionheading {
            left: 585px;
        }
       

}
@media (max-width: 1236px) {
    .FinalBMFT{
        left: -470px;
    }
       

}
@media (max-width: 1227px) {
    .footercontainer{
        padding: 7rem 0;
    }

}
@media (max-width: 1199px) {
    .footercontainer{
        padding: 7rem 0;
    }
        .footerlinkitems {
            width: 150px;
            font-size: 13px;
            }
          
            .FinalBMFT {
                left: -430px;
            }
          
            .footersubscriptionheading {
                margin-left: -400px;
            }
          
            .subbutton {
            margin-left: -530px;
            
            }
          
            .footerinput {
             margin-left:-530px;
            }
    }
    @media (max-width: 1199px) {
        .footercontainer{
            padding: 5rem 1;
        
        }
    }
        @media (max-width: 1199px) {
            .footercontainer{
                padding: 200px;
                width: 100%;
               
            }
            .FinalBMFT{
                    left: -400px;
                    top: 100px;
            }
                .footerinput{
                    top: 10px;
                }
                .subbutton{
                    top:-50px;
                }
                .footersubscriptionheading{
                    top: 150px;
                    left: 575px;
                }
              }
        @media (max-width: 1552px) {
          .footercontainer{
            padding: 100px;
            width: 100%;
          }
        }
        @media (max-width: 1195px) {
          .footercontainer{
            padding: 200px;
            width: 100%;
          }
        }
        @media (max-width: 1087px) {
          .footerlinkitems {
            width: 150px;
            font-size: 13px;
            }
          .FinalBMFT{
            left: -400px;
            top: 100px;
    }
        }
       