*{
    padding: 0;
    margin: 0;
}

.img{
   width: 100%;
   border-radius: 5px;
   object-fit: cover;
}


.img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1px;
    object-fit: cover;
    transition: transform 0.2s ease, filter 0.3s ease;; 
}

.img:hover img {
    transform: scale(1.025); 
    filter: brightness(.2);
}

.img2{
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
 }

.container{
 max-width: 2440px;
 width: 100%;
 margin: auto;
}

.gallery {
    display: flex;
    gap: 0px;

}

.column{
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1;
}

.textwrapper{
    margin-top: 25vh;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.0); 
    top: 0;
    left: 0;
    pointer-events: none; 
}

.textcontainer {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 10vh;
    box-sizing: border-box;
    text-align: center;
    width: 80%; 
    height: auto; 
    border-radius: 3vh;
}

.p{
    font-size: 1.25rem;
    text-align: left;
    margin: 0; 
    padding: 0;
    padding-bottom: 3vh;
}

.h1{
    font-size: 2rem;
    padding-bottom: 3vh;
}

.h2{
    font-size: 1.75rem;
    padding-bottom: 3vh;
}

.modal {
    display: block; 
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
  }
  
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
  }
  
  @media only screen and (max-width: 700px) {
    .modalContent {
      width: 100%;
    }
  }