
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    height: 9vh;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background:rgba(0,0,0,.9);
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}