*{
    margin: 0;
    padding: 0;
}


@keyframes scaleUpDown {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); } 
    100% { transform: scale(1); } 
  }
  
  
  .logo {
    width: 10%;
    height: auto;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; 
  }
  
  .logo:active {
    animation: scaleUpDown 0.4s ease-in-out; 
  }

.nav {
    background-color:rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li{
    height: 13vh;
}

.nav a{
    height: 100%;
    padding: 0 50px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.nav a:hover{
    color:grey;
}

.nav li:first-child{
    margin-top: 1vh;
    margin-left: 3vh;
    margin-right: auto;
}