body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(0.8);
}

.titleoverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: bold;
  color: #f5f5f5;
  text-align: center;
  z-index: 10;
}

.outreachSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  box-sizing: border-box;
  margin-top: 5vw;
  align-items: center;
  text-align: center;
}

.textSide, .imageSide {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.textSide {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textSide h2 {
  font-size: 3vw;
  margin-bottom: 1rem;
  font-style: oblique;
}

.textSide p {
  color: #333;
  font-size: 1.5vw;
  line-height: 1.7;
}

.outreachButton {
  display: inline-block;
  background-color: #52c742;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center; 
  line-height: 1.5; 
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.outreachButton:hover {
  background-color: #45a03a;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.infoContainer h2::after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background: linear-gradient(to right, #1e748a, #3bf3f6);
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
  transform: scaleX(1);
  transition: transform 0.5s ease;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header2 {
  width: 100%;
  position: relative;
  height: 30vh;
  overflow: hidden;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.8);
}

.titleoverlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: bold;
  color: #f5f5f5;
  text-align: center;
  z-index: 10;
}

@media (min-width: 768px) {
  .outreachSection {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .textSide, .imageSide {
    padding: 3rem;
  }

  .titleoverlay {
    font-size: 9vw;
  }

  .textSide h2 {
    font-size: 2.5rem;
  }

  .textSide p {
    font-size: 1.2rem;
  }

  .outreachButton {
    font-size: 1rem;
  }

  .titleoverlay2 {
    font-size: 5vw;
  }
}
