@keyframes rollIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}

.header {
    width: 100%;
    position: relative;
    height: 50vh;
    overflow: hidden;
    animation: rollIn 1s ease-out; 
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.8);
}

.titleoverlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: #f5f5f5;
    text-align: center;
    z-index: 10;
}

.outreachSection {
    margin-top: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    animation: rollIn 1s ease-out; 
}

.textSide {
    flex: 1;
    text-align: left;
    padding: 1rem;
    margin-left: 30px;
}

.imageSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    height: 400px; 
}

.imageWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out; 
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.carouselButton {
    background: transparent; 
    color: #ffffff; 
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: color 0.3s, transform 0.3s; 
}

.carouselButton:hover {
    color: #000000; 
    transform: translateY(-50%) scale(1.2); 
}

.carouselButton:first-of-type {
    left: 10px;
}

.carouselButton:last-of-type {
    right: 10px;
}

.textSide h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-style: oblique;
}

.textSide p {
    color: #333;
    font-size: 1.05rem;
    line-height: 1.7;
}
