.header img {
    width: 100%;
    height: 500px;
    filter:brightness(0.8);
  }
  
  .titleoverlay {
    position: Absolute;
    top: 250px;
    left: 50%;
    font-size: 100px;
  font-weight: bold;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
    text-align: center;
  z-index: 100;
  }
  
  .sectionTitle {
    font-size: 32px;
    margin-bottom: 10px;
    color: #020202 ;
    font-weight: bold;
    margin-top: -100px;
  
  }
  
  .sectionContent {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-top: 20px;
  }
  
  .sectionContentParagraph {
    margin-bottom: 80px;
  }
  .banner {
    background-color: #52c742 ; 
      color: #fff;
      padding: 1.5rem;
      font-size: 2.5rem;
      font-weight: bold;
      border-radius: 8px;
     
      
  }
  .section {
    margin-bottom: 10px;
    margin-top:160px;
    text-align: center;
  }