.pageContainer {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
 
background-color: #f9f9f9;
  position: relative; 
  z-index: 5;
}


.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  z-index: 1;
  background-color: black;
}


.headerImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter:brightness(0.5);
}


.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, filter 0.5s ease;
  opacity: 0;
}


.headerImage.active {
  opacity: 1; 
}


.headerImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  transition: opacity 0.5s ease; 
  opacity: 0;
  pointer-events: none; 
}

.headerImageOverlay.active {
  opacity: 1; 
}


.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  border-radius: 13px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  z-index: 2;
}
.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}


.learnMoreButton {
  background-color: #52c742 ;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #1e4d3f;
}

.section2 {
  margin-bottom: 10px;
  margin-top:160px;
  text-align: center;

}

.sectionTitle {
  font-size: 32px;
  margin-bottom: 10px;
  color: #020202 ;
  font-weight: bold;
  margin-top: -100px;

}

.sectionContent {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  margin-top: 20px;
}

.sectionContentParagraph {
  margin-bottom: 80px;
}

.titleoverlay {
  position: Absolute;
  top: 250px;
  left: 50%;
  font-size: 50px;
font-weight: bold;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  text-align: center;

}
.section {
  margin-bottom: 10px;
  margin-top:160px;
  text-align: center;
}

.banner {
  background-color: #52c742 ; 
    color: #fff;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 8px;
   
    
}
.banner2 {
  background-color: #52c742 ; 
  color: #fff;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 8px;
 
   
}
.banner3 {
  background-color: #52c742 ; 
  color: #fff;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 8px;
   margin-top: -150px;
}
@keyframes rollIn {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
  
}
.animateRollIn {
  animation: rollIn 1s ease-out forwards;
  
}

@media (max-width: 768px) {
  .visionMissionSection {
    flex-direction: column;
  }

  .headerImage {
    height: 300px;
  }

  .arrowButton {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
