.panelcontainer {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -110px;
    
  }
  
  .panel {
    width: 300px;
    height: 330px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  .panel:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .panelimg {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 4px; 
    margin-bottom: 10px; 
  }
  
  .paneltitle {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  
  .learnmorebtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
    position: relative;
    top: -10px;
  }
  
  .learnmorebtn:hover {
    background-color: #45a049;
  }
  